* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

body {
  background: black;
}

.App, .Loading, .Bible {
  min-height: 100vh;
  width: 100%;
}

.App, .Bible {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Bible {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.BibleMenu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: auto;
  background: #1e2342;
  padding: 0px 20px 20px 10px;
  border-top-right-radius: 20px;
}

.BibleMenu input, .BibleMenu select {
  width: 150px;
  margin-bottom: 20px;
}

.toggle-bible-menu {
  width: 100%;
  border: none;
  background: none;
  color: white;
  padding: 20px 0;
}

.hide-bible-menu {
  bottom: -200px;
}

.super-hide-bible-menu {
  bottom: -300px;
}

.Header {
  position: fixed;
  width: 100%;
  top: 0;
}

.Header h1 {
  padding: 10px 20px;
  background: #1e2342;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom-right-radius: 20px;
}

.Ham {
  position: fixed;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: #1e2342;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  list-style: none;
  margin: 10px;
}

.Ham li {
  position: relative;
  background: white;
  height: 2px;
  width: 100%;
}

.Ham li:nth-child(2) {
  margin: 7px 0;
}

.X li:first-child {
  top: 9px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.X li:nth-child(2) {
  background: transparent;
}

.X li:nth-child(3) {
  bottom: 9px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.Logo, nav a {
  text-decoration: none;
  color: white;
}

.Logo h1 {
  padding: 10px 30px 10px 20px;
}

.First {
  color: #09e5f9;
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60vw;
  background: #1e2342;
  border-top-right-radius: 20px;
}

nav a {
  padding: 20px 10px;
  font-size: 1.2em;
}

nav .active {
  color: #09e5f9;
}

.hide-left {
  left: -1000px;
}

.Earth, .earth-pic-div, .vod-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Earth {
  height: 100vh;
}

.Earth p, .Earth .p {
  padding: 10px;
  text-align: center;
}

.Earth .extra_text, .Earth sup, .Earth h3, .Earth b {
  display: none;
}

.Earth .vod-div {
  max-width: 500px;
}

.Earth .vod-div p:last-child {
  display: none;
}

.Earth .earthPic {
  width: 100vw;
  max-width: 500px;
}

.Earth .get-verse {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: none;
  border: none;
  color: #c1cafe;
  margin-top: 30px;
}

.Earth .vod-cit {
  text-transform: capitalize;
}

.Earth .virtual::first-letter {
  text-transform: capitalize;
}

.citation {
  font-size: .7em;
  text-align: center;
  color: #c1cafe;
}

.Loading {
  max-width: 400px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Loading h1 {
  margin-bottom: 30px;
}

.bible-submit, .submit {
  background: transparent;
  border: 1px solid white;
  color: white;
}

.bible-submit {
  padding: 0 20px;
}

input, select, .submit, .bible-submit {
  height: 50px;
  font-size: 1.2em;
}

input {
  padding-left: 10px;
}

.SignIn, .SignUp {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90vw;
  max-width: 400px;
}

.SignIn form, .SignUp form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.SignIn form input, .SignIn form .submit, .SignUp form input, .SignUp form .submit {
  border-radius: 20px;
}

.SignIn form input, .SignUp form input {
  width: 100%;
  margin-bottom: 20px;
}

.SignIn form .toggle-signin, .SignUp form .toggle-signin {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 50px;
}

.SignIn form .copy, .SignUp form .copy {
  margin-bottom: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 768px) {
  .submit:hover, .bible-submit:hover, .query-submit:hover {
    background: #09e5f9;
    color: black;
    border: none;
  }
  .Earth {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .Ham {
    display: none;
  }
  nav {
    position: static;
    background: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: #1e2342;
    border-radius: 0 0 0 20px;
    padding-left: 30px;
  }
  nav a {
    padding: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-right: 20px;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .toggle-signin, button, a, .Logo {
    cursor: pointer;
  }
}

@media (min-width: 1200px) {
  nav {
    width: 33vw;
  }
}
/*# sourceMappingURL=index.css.map */