*
  box-sizing: border-box
  margin: 0
  padding: 0
  font-family: 'Nunito', sans-serif;

$text-alt: #c1cafe
$breakpoint-tablet: 768px;

.App
  min-height: 100vh
  width: 100%
  background: black
  color: white
  display: flex
  flex-direction: column
  align-items: center

.Header
  position: fixed
  width: 100%
  top: 0
  h1
    padding: 10px 20px
    background: #1e2342
    width: fit-content
    border-bottom-right-radius: 20px

.Earth, .earth-pic-div, .vod-div
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.Earth
  height: 100vh
  p, .p
    padding: 10px
    text-align: center

  .extra_text, sup, h3, b
    display: none

  .vod-div
    p:last-child
      display: none
  
  .earthPic
    width: 100vw
    max-width: 500px

  .get-verse
    width: fit-content
    background: none
    border: none
    color: $text-alt
    margin-top: 30px
  
  .vod-cit
    text-transform: capitalize

  .virtual::first-letter
    text-transform: capitalize
    
.citation
  font-size: .7em
  text-align: center
  color: $text-alt

.Loading
  height: 100vh
  width: 100%
  padding: 20px
  display: flex;
  flex-direction: column
  align-items: flex-start
  justify-content: center
  h1
    margin-bottom: 30px

@media (min-width: $breakpoint-tablet)
  .Earth
    flex-direction: row