*
  box-sizing: border-box
  margin: 0
  padding: 0
  font-family: 'Nunito', sans-serif;
  transition: all .3s ease

$text-alt: #c1cafe
$bg-blue: #1e2342
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;
$ham-dim: 80px
$line: #4a4a4a
$input-height: 50px
$button: #15676e
$button-hover: #09e5f9

body 
  background: black

.App, .Loading, .Bible
  min-height: 100vh;
  width: 100%;

.App, .Bible
  color: white
  display: flex
  flex-direction: column
  align-items: center

.Bible
  justify-content: center

.BibleMenu
  position: fixed
  bottom: 0
  left: 0
  width: auto
  background: $bg-blue
  padding: 0px 20px 20px 10px
  border-top-right-radius: 20px
  input, select
    width: 150px
    margin-bottom: 20px
  
.toggle-bible-menu
  width: 100%
  border: none
  background: none
  color: white
  padding: 20px 0;

.hide-bible-menu
  bottom: -200px

.super-hide-bible-menu
  bottom: -300px

.Header
  position: fixed
  width: 100%
  top: 0
  h1
    padding: 10px 20px
    background: $bg-blue
    width: fit-content
    border-bottom-right-radius: 20px

.Ham
  position: fixed
  height: $ham-dim
  width: $ham-dim
  border-radius: 50%
  background: $bg-blue
  bottom: 0
  right: 0
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  padding: 15px
  list-style: none
  margin: 10px
  li
    position: relative
    background: white
    height: 2px
    width: 100%
  li:nth-child(2)
    margin: 7px 0

.X
  li:first-child
    top: 9px
    transform: rotate(45deg)
  li:nth-child(2)
    background: transparent 
  li:nth-child(3)
    bottom: 9px
    transform: rotate(-45deg)

.Logo, nav a 
  text-decoration: none
  color: white

.Logo
  h1
    padding: 10px 30px 10px 20px

.First
  color: $button-hover

nav
  position: fixed
  bottom: 0
  left: 0
  display: flex
  flex-direction: column
  width: 60vw
  background: $bg-blue
  border-top-right-radius: 20px

  a
    padding: 20px 10px 
    font-size: 1.2em
  .active
    color: $button-hover

.hide-left
  left: -1000px

.Earth, .earth-pic-div, .vod-div
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.Earth
  height: 100vh
  p, .p
    padding: 10px
    text-align: center

  .extra_text, sup, h3, b
    display: none

  .vod-div
    max-width: 500px
    p:last-child
      display: none
  
  .earthPic
    width: 100vw
    max-width: 500px

  .get-verse
    width: fit-content
    background: none
    border: none
    color: $text-alt
    margin-top: 30px
  
  .vod-cit
    text-transform: capitalize

  .virtual::first-letter
    text-transform: capitalize
    
.citation
  font-size: .7em
  text-align: center
  color: $text-alt

.Loading
  max-width: 400px
  padding: 20px
  display: flex;
  flex-direction: column
  align-items: flex-start
  justify-content: center
  h1
    margin-bottom: 30px

.BibleWelcome
  width: 100%
  height: 100vh
  .welcome
    text-align: center
    margin-top: 50px

.APOD
  width: 100%

.bible-submit, .submit
  background: transparent
  border: 1px solid white
  color: white

.bible-submit
  padding: 0 20px

input, select, .submit, .bible-submit
  height: $input-height
  font-size: 1.2em

input
  padding-left: 10px

.SignIn, .SignUp
  height: 100vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  width: 90vw
  max-width: 400px

  form
    display: flex
    flex-direction: column
    width: 100%
    input, .submit
      border-radius: 20px
    input
      width: 100%
      margin-bottom: 20px
      
    
      
    .toggle-signin
      width: fit-content
      align-self: center
      margin-top: 50px
    .copy
      margin-bottom: 50px
      align-self: center

@media (min-width: $breakpoint-tablet)

  .submit:hover, .bible-submit:hover, .query-submit:hover
    background: $button-hover
    color: black
    border: none

  .Earth
    flex-direction: row

  .Ham
    display: none
  
  nav
    position: static
    background: none
    flex-direction: row
    align-items: center;
    width: fit-content
    background: $bg-blue
    border-radius: 0 0 0 20px
    padding-left: 30px
    a 
      padding: 0
      height: fit-content
      margin-right: 20px
  
  header
    display: flex
    justify-content: space-between

  .toggle-signin, button, a, .Logo
    cursor: pointer

@media (min-width: $breakpoint-desktop)
  nav
    width: 33vw
