*
  box-sizing: border-box
  margin: 0
  padding: 0
  font-family: 'Nunito', sans-serif;
  transition: all .3s ease

$text-alt: #c1cafe
$bg-blue: #1e2342
$breakpoint-tablet: 768px;
$ham-dim: 80px

.App
  min-height: 100vh
  width: 100%
  background: black
  color: white
  display: flex
  flex-direction: column
  align-items: center

.Header
  position: fixed
  width: 100%
  top: 0
  h1
    padding: 10px 20px
    background: $bg-blue
    width: fit-content
    border-bottom-right-radius: 20px

  .ham
    position: fixed
    height: $ham-dim
    width: $ham-dim
    border-radius: 50%
    background: $bg-blue
    bottom: 0
    right: 0
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    padding: 15px
    list-style: none
    margin: 10px
    li
      position: relative
      background: white
      height: 2px
      width: 100%
    li:nth-child(2)
      margin: 7px 0

  .X
    li:first-child
      top: 9px
      transform: rotate(45deg)
    li:nth-child(2)
      background: transparent 
    li:nth-child(3)
      bottom: 9px
      transform: rotate(-45deg)

.Earth, .earth-pic-div, .vod-div
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.Earth
  height: 100vh
  p, .p
    padding: 10px
    text-align: center

  .extra_text, sup, h3, b
    display: none

  .vod-div
    p:last-child
      display: none
  
  .earthPic
    width: 100vw
    max-width: 500px

  .get-verse
    width: fit-content
    background: none
    border: none
    color: $text-alt
    margin-top: 30px
  
  .vod-cit
    text-transform: capitalize

  .virtual::first-letter
    text-transform: capitalize
    
.citation
  font-size: .7em
  text-align: center
  color: $text-alt

.Loading
  height: 100vh
  width: 100%
  padding: 20px
  display: flex;
  flex-direction: column
  align-items: flex-start
  justify-content: center
  h1
    margin-bottom: 30px

@media (min-width: $breakpoint-tablet)
  .Earth
    flex-direction: row