body {
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.logo {
  text-decoration: none;
  color: white;
  font-size: 1em;
  background: #21254E;
  position: fixed;
  top: 0;
  left: 0;
  padding: 8px 16px 8px 8px;
  border-bottom-right-radius: 16px;
  transition: all 0.3s ease;
}
.logo-hide {
  left: -100vw;
}
@media screen and (min-width: 768px) {
  .logo-hide {
    left: 0;
  }
}
.logo h1 {
  margin: 0;
}
.logo h1 span {
  color: #00F0FF;
}

.Ham {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  width: 60px;
  height: 60px;
  background: #21254E;
  position: fixed;
  bottom: 12px;
  right: 12px;
  padding: 12px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.Ham-hide {
  right: -100vw;
}
@media screen and (min-width: 768px) {
  .Ham {
    display: none;
  }
}
.Ham li {
  position: relative;
  right: 0;
  background: white;
  height: 4px;
  transition: all 0.3s ease;
}
.Ham-active li:nth-child(2) {
  right: 4px;
}

.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 80px;
  right: 0;
  width: 80vw;
  transition: all 0.3s ease;
  background: #21254E;
  border-radius: 8px 0 0 8px;
}
@media screen and (min-width: 768px) {
  .nav {
    flex-direction: row;
    width: fit-content;
    top: 0;
    bottom: auto;
    padding-right: 15vw;
    border-radius: 0 0 0 8px;
  }
}
.nav a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  border-bottom: 1px solid black;
  padding: 16px;
  min-height: 44px;
  transition: color 0.3s ease;
}
.nav a:last-child {
  border: none;
}
@media screen and (min-width: 768px) {
  .nav a {
    border: none;
  }
  .nav a:first-child {
    border-radius: 0 0 0 8px;
  }
}
@media screen and (min-width: 992px) {
  .nav a {
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  .nav a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    z-index: -1;
    border-bottom: 1px solid #00F0FF;
    transition: all 0.3s ease-out;
  }
  .nav a:hover {
    color: #00F0FF;
  }
  .nav a:hover::before {
    width: 100%;
  }
}
.nav .active {
  color: #00F0FF;
}
.nav-hide {
  right: -100vw;
}
@media screen and (min-width: 768px) {
  .nav-hide {
    right: 0;
  }
}

.Welcome {
  background-image: url("https://images-assets.nasa.gov/image/PIA22428/PIA22428~medium.jpg");
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .Welcome {
    background-image: url("https://images-assets.nasa.gov/image/PIA22428/PIA22428~large.jpg");
  }
}
@media screen and (min-width: 992px) {
  .Welcome {
    background-image: url("https://images-assets.nasa.gov/image/PIA22428/PIA22428~orig.jpg");
  }
}
.Welcome-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 48px;
  border-radius: 16px;
}
.Welcome h1 {
  background: #2c2c2cf8;
  padding: 24px;
  border-radius: 16px;
  text-align: center;
}

.Home {
  padding-top: 10vh;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .Home {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    padding-top: 0;
  }
}
.Home img {
  width: 80vw;
  max-width: 300px;
}

.Reader {
  background-image: url("https://images-assets.nasa.gov/image/PIA22428/PIA22428~medium.jpg");
  font-size: 1.1em;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}
@media screen and (min-width: 768px) {
  .Reader {
    background-image: url("https://images-assets.nasa.gov/image/PIA22428/PIA22428~large.jpg");
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr 2fr 0.5fr;
    align-items: start;
  }
}
@media screen and (min-width: 768px) and (min-width: 992px) {
  .Reader {
    background-image: url("https://images-assets.nasa.gov/image/PIA22428/PIA22428~orig.jpg");
    grid-template-columns: 1fr 2fr 0.5fr 2fr 1fr;
  }
}
.Reader .QueryBible {
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .Reader .QueryBible {
    grid-column: 4/5;
    margin-top: 0;
  }
}
.Reader .text-container {
  padding: 48px 16px 16px 16px;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background: #2c2c2cf8;
}
@media screen and (min-width: 768px) {
  .Reader .text-container {
    grid-column: 2/3;
  }
}
.Reader .text-container h2, .Reader .text-container h3, .Reader .text-container p {
  margin-bottom: 16px;
}
.Reader .text-container a {
  color: #00F0FF;
  text-decoration: none;
}
@media screen and (min-width: 992px) {
  .Reader .text-container a {
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  .Reader .text-container a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    z-index: -1;
    border-bottom: 1px solid #00F0FF;
    transition: all 0.3s ease-out;
  }
  .Reader .text-container a:hover {
    color: #00F0FF;
  }
  .Reader .text-container a:hover::before {
    width: 100%;
  }
}
.Reader .text-container .verse-num {
  vertical-align: super;
  font-size: 0.7em;
}
.Reader .text-container span > p:last-child {
  display: none;
}

.Load {
  z-index: 999;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background: black;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 1s ease;
}
.Load .span {
  color: #00F0FF;
  transition: all 1s ease;
}
.Load .span-trans {
  color: transparent;
  background: transparent;
}

.Verse {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  max-width: 400px;
}
.Verse span {
  text-align: center;
  margin: 16px 0;
}
.Verse button {
  background: none;
  border: none;
  padding: 12px 0;
  color: #00F0FF;
}
@media screen and (min-width: 992px) {
  .Verse button {
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  .Verse button::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    z-index: -1;
    border-bottom: 1px solid #00F0FF;
    transition: all 0.3s ease-out;
  }
  .Verse button:hover {
    color: #00F0FF;
  }
  .Verse button:hover::before {
    width: 100%;
  }
}
.Verse h2, .Verse h3, .Verse h4, .Verse p:last-child, .Verse .verse-num, .Verse .chapter-num, .Verse .fn {
  display: none;
}

.Tasks {
  color: white;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: flex-start;
  background-image: url("https://images-assets.nasa.gov/image/PIA22428/PIA22428~medium.jpg");
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .Tasks {
    background-image: url("https://images-assets.nasa.gov/image/PIA22428/PIA22428~large.jpg");
  }
}
@media screen and (min-width: 992px) {
  .Tasks {
    background-image: url("https://images-assets.nasa.gov/image/PIA22428/PIA22428~orig.jpg");
  }
}
.Tasks .reset {
  background: none;
  border: 1px solid white;
  color: white;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 24px;
}
@media screen and (min-width: 992px) {
  .Tasks .reset:hover {
    background: #00F0FF;
    color: black;
  }
}
.Tasks .caution {
  color: yellow;
  margin-bottom: 24px;
  text-align: center;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 8px;
  min-height: 120px;
}
footer p {
  text-align: center;
}
footer a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  color: #00F0FF;
}
footer a:hover {
  text-decoration: underline;
}

.Space {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.SpaceMenu {
  background: #2c2c2cf8;
  border-top-right-radius: 16px;
  width: 100vw;
  max-width: 250px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  justify-content: space-between;
  transition: all 0.3s ease;
}
@media screen and (min-width: 768px) {
  .SpaceMenu {
    max-width: 350px;
  }
}
.SpaceMenu-hide {
  bottom: calc(64px - 70vh);
}
.SpaceMenu h2, .SpaceMenu p {
  margin-bottom: 16px;
}
.SpaceMenu .button-container {
  padding: 0 8px;
  height: 64px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.SpaceMenu .desc-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  height: calc(70vh - 64px - 64px);
  overflow: auto;
  padding: 0 16px 0 8px;
  line-height: 1.5;
}
.SpaceMenu .desc-container p {
  width: 100%;
}
.SpaceMenu button {
  background: none;
  border: 1px solid white;
  color: white;
  border-radius: 8px;
  padding: 12px;
}
@media screen and (min-width: 992px) {
  .SpaceMenu button:hover {
    background: #00F0FF;
    color: black;
  }
}
.SpaceMenu button:first-child {
  margin-right: 4px;
}
.SpaceMenu form {
  padding: 0 8px;
}

.Manifest img {
  max-height: 100vh;
  max-width: 100vw;
}

.Loading {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.Task {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid gray;
}
.Task input {
  margin-right: 24px;
}
.Task label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 24px 0;
}
.Task label, .Task button {
  cursor: pointer;
}
.Task .complete {
  text-decoration: line-through;
  color: #00F0FF;
}
.Task span {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Task button {
  border: none;
  background: none;
  color: white;
  fill: white;
  width: 44px;
  height: 44px;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Task button svg {
  width: 16px;
}
.Task .star {
  margin-bottom: 4px;
}
.Task .star-active {
  fill: yellow;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.trans {
  background: transparent;
  color: transparent;
}

button {
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.QueryBible {
  background: #2c2c2cf8;
  padding: 48px 24px 24px 24px;
  border-radius: 16px;
  align-self: center;
}
.QueryBible form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.QueryBible fieldset, .QueryBible input, .QueryBible button {
  border: none;
}
.QueryBible fieldset {
  display: flex;
  align-items: stretch;
  width: 100%;
}
.QueryBible input, .QueryBible select {
  height: 44px;
  width: 100%;
  border-radius: 4px 0 0 4px;
  padding: 8px;
  border: none;
}
.QueryBible button {
  background: #3f4796;
  font-size: 1em;
  color: white;
  width: 44px;
  border-radius: 0 4px 4px 0;
  border: none;
}
.QueryBible button:hover {
  background: #00F0FF;
  color: black;
}

.NavButtons {
  margin: 24px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.NavButtons button {
  background: none;
  font-size: 0.9em;
  text-transform: capitalize;
  border: 1px solid white;
  color: white;
  padding: 12px 24px 0 24px;
  border-radius: 8px;
}
@media screen and (min-width: 992px) {
  .NavButtons button:hover {
    background: #00F0FF;
    color: black;
  }
}
.NavButtons button:first-child {
  margin-right: 4px;
}
.NavButtons span {
  font-size: 1.5em;
}

.SpaceQuery {
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.SpaceQuery fieldset {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: stretch;
  border: none;
}
.SpaceQuery input {
  height: 44px;
  width: 100%;
  border-radius: 4px 0 0 4px;
  padding: 8px;
  border: none;
}
.SpaceQuery button {
  background: #3f4796;
  font-size: 1em;
  color: white;
  width: 44px;
  border-radius: 0 4px 4px 0;
  border: none;
}
.SpaceQuery button:hover {
  background: #00F0FF;
  color: black;
}

.Submit {
  position: relative;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: stretch;
}
.Submit span {
  position: absolute;
}
.Submit span:first-child {
  top: -20px;
}
.Submit span:nth-child(3) {
  left: 0;
  bottom: -22px;
  color: yellow;
}
.Submit input {
  height: 44px;
  width: 100%;
  border-radius: 4px 0 0 4px;
  padding: 8px;
  border: none;
}
.Submit button {
  background: #3f4796;
  font-size: 1em;
  color: white;
  width: 44px;
  border-radius: 0 4px 4px 0;
  border: none;
}
.Submit button:hover {
  background: #00F0FF;
  color: black;
}

.Board {
  background: #2c2c2cf8;
  padding: 24px;
  border-radius: 16px;
  width: 95vw;
}

.LayoutMenu button {
  background: none;
  border: 1px solid white;
  color: white;
  border-radius: 8px;
  padding: 12px;
}
@media screen and (min-width: 992px) {
  .LayoutMenu button:hover {
    background: #00F0FF;
    color: black;
  }
}
.LayoutMenu button:first-child {
  margin-right: 4px;
}
.LayoutMenu .active {
  background: #00F0FF;
  color: black;
}

.Kanban {
  display: grid;
  align-items: stretch;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px;
}
.Kanban .Add {
  align-items: flex-start;
}
.Kanban .Add h2 {
  bottom: auto;
  top: 16px;
}

.Lists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
}
.Lists h2 {
  margin-bottom: 24px;
}

.Card {
  padding: 12px;
  color: white;
  background: black;
  border: 1px solid white;
  margin-bottom: 12px;
}
.Card > div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.Card > div:first-child span {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Card > div:first-child > button {
  background: none;
  color: white;
  padding: 8px;
  border: none;
  font-size: 1.5em;
}
.Card svg {
  height: 24px;
  margin-right: 12px;
  fill: white;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.Card svg:hover {
  transform: rotate(360deg);
}
.Card .star {
  fill: yellow;
}

.Silo {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: stretch;
  width: 100%;
}
.Silo > div:first-child {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.Silo > div:first-child button {
  background: none;
  border: 1px solid white;
  color: white;
  border-radius: 8px;
  padding: 12px;
  border: none;
  padding: 0 8px;
  font-size: 1.3em;
}
@media screen and (min-width: 992px) {
  .Silo > div:first-child button:hover {
    background: #00F0FF;
    color: black;
  }
}
.Silo .card-container {
  padding-bottom: 44px;
  height: 100%;
}
.Silo .card-container-over {
  background: rgba(70, 70, 70, 0.9725490196);
}

.LayoutHeader {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.LayoutHeader h1 {
  text-transform: capitalize;
  margin-left: 8px;
}
.LayoutHeader div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.LayoutHeader > div {
  margin-bottom: 48px;
}

.AddBtn {
  height: 44px;
  background: none;
  border: 1px solid white;
  color: white;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .AddBtn:hover {
    background: #00F0FF;
    color: black;
  }
}
.AddBtn span {
  display: flex;
  position: relative;
  background: white;
  height: 2px;
  width: 16px;
  transition: all 0.3s ease-out;
}
.AddBtn span:first-child {
  top: 2px;
  transform: rotate(90deg);
}
.AddBtn-x {
  background: #00F0FF;
}
.AddBtn-x span {
  background: black;
}
.AddBtn-x span:first-child {
  transform: rotate(405deg);
}
.AddBtn-x span:nth-child(2) {
  transform: rotate(-405deg);
}

.Add {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.Add h2 {
  position: absolute;
  right: 52px;
  bottom: 0;
  transition: 0.2s all ease-out;
}
.Add .h2-hide {
  opacity: 0;
  z-index: -999;
}
.Add .Submit {
  transform: translateX(20px);
  opacity: 0;
  transition: all 0.1s ease-out;
}
.Add .Submit-in {
  transform: translateX(0);
  opacity: 1;
}

/*# sourceMappingURL=App.css.map */
