@use '../utilities/_var'
@use '../utilities/_mixins'
  
.Reader
  background-image: url(var.$jupiter-m)
  font-size: 1.1em
  line-height: 1.5
  @include mixins.flex-fill
  @media screen and (min-width: var.$break-tab)
    background-image: url(var.$jupiter-l)
    display: grid
    grid-template-columns: .5fr 2fr .5fr 2fr .5fr
    align-items: start
    @media screen and (min-width: var.$break-desk)
      background-image: url(var.$jupiter-o)
      grid-template-columns: 1fr 2fr .5fr 2fr 1fr
  .QueryBible
    margin-top: 24px
    @media screen and (min-width: var.$break-tab)
      grid-column: 4/5
      margin-top: 0
  .text-container
    padding: 48px 16px 16px 16px
    width: 100%
    height: 100vh
    overflow: auto
    background: var.$color-caption
    @media screen and (min-width: var.$break-tab)
      grid-column: 2/3
    h2, h3, p
      margin-bottom: 16px
    a
      color: var.$color-accent
      text-decoration: none
    .verse-num
      vertical-align: super
      font-size: .7em
    
    span
      > p:last-child
        display: none