@use '../utilities/_var'
@use '../utilities/_mixins'
  
$gutter: 24px

.Tasks
  @include mixins.flex-fill
    align-items: stretch
    justify-content: flex-start
    padding: 100px $gutter
  background-image: url(var.$jupiter-l)
  @media screen and (min-width: var.$break-tab)
    display: grid
    align-items: start
    grid-template-columns: .5fr 2fr .5fr 2fr .5fr
  @media screen and (min-width: var.$break-desk)
    grid-template-columns: 1fr 2fr .5fr 2fr 1fr
  > div
    background: var.$color-caption 
    border-radius: var.$rad-m
    padding: $gutter
    margin-bottom: $gutter
  > div:first-child
    grid-column: 2/3
  > div:nth-child(2)
    grid-column: 4/5
  h1, h2, h3, h4, h5, h6
    margin: 0  
  ul
    padding: 0
    list-style: none
  .star
    color: yellow