@use '../utilities/_var'
@use '../utilities/_mixins'
  
$gutter: 24px

.Tasks
  color: white
  padding-top: 90px
  @include mixins.flex-fill
    align-items: center
    justify-content: flex-start
  background-image: url(var.$jupiter-m) 
  background-repeat: no-repeat
  @media screen and (min-width: var.$break-tab)
    background-image: url(var.$jupiter-l)
  @media screen and (min-width: var.$break-desk)
    background-image: url(var.$jupiter-o)
  .reset
    @include mixins.button 
    margin-bottom: $gutter 
  .caution 
    color: yellow 
    margin-bottom: $gutter
    text-align: center